<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mottu - Excluir conta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container">

<h1 class="h1" th:text="|Excluindo ${usuario.email}|"></h1>

<form action="#" th:action="@{/web/usuarios/deletar/{id}(id = ${usuarioId})}" method="post">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button class="btn btn-danger" type="submit">Confirmar deleção</button>
        <a class="btn btn-secondary" href="/web/usuarios">Cancelar</a>
    </div>
</form>
</body>
</html>
