<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head('Mottu - Usuarios')"></head>
<body class="container">

<div th:replace="fragments/fragments :: navbar"></div>

<h1 class="h1">Lista de Usuários</h1>
<a class="btn btn-primary" href="/web/usuarios/register">Cadastrar novo usuário</a>

<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
    </tr>
    <tr th:each="usuario : ${usuarios}">
        <th scope="col" th:text="${usuario.id}"></th>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.role}"></td>
        <td>
            <a class="btn btn-secondary" th:href="@{/web/usuarios/atualizar/{id}(id = ${produto.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/web/usuarios/deletar/{id}(id = ${produto.id})}">Deletar</a>
        </td>
    </tr>
</table>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>
