<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head('Mottu - Login')"></head>
<body class="container">

<div th:replace="fragments/fragments :: navbar"></div>

<h1 class="h1">Entre na sua conta!</h1>
<a class="btn btn-link" href="/web/usuarios/register">Não tem uma conta? Cadastre-se aqui!</a>

<form action="#" th:action="@{/web/usuarios/login}" th:object="${usuario}" method="post">
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input class="form-control" type="email" th:field="*{email}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Senha:</label>
        <input class="form-control" type="password" minlength="3" th:field="*{senha}" />
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button class="btn btn-primary" type="submit">Entrar</button>
        <a class="btn btn-secondary" href="/web/usuarios">Cancelar</a>
    </div>
</form>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>
