<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mottu - Motos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="container">

<h1 class="h1">Lista de Motos</h1>
<a class="btn btn-primary" href="/web/motos/new">Cadastrar nova moto</a>

<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Placa</th>
        <th scope="col">Status</th>
        <th scope="col">Filial</th>
    </tr>
    <tr th:each="moto : ${motos}">
        <th scope="col" th:text="${moto.id}"></th>
        <td th:text="${moto.placa}"></td>
        <td th:text="${moto.status}"></td>
        <td th:text="${moto.filial.nome}"></td>
        <td>
            <a class="btn btn-secondary" th:href="@{/web/motos/atualizar/{id}(id = ${moto.id})}">Editar</a>
            <a class="btn btn-danger" th:href="@{/web/motos/deletar/{id}(id = ${moto.id})}">Deletar</a>
        </td>
    </tr>
</table>
</body>
</html>
