<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head('Mottu - Excluir Filial')"></head>
<body class="container">

<div th:replace="fragments/fragments :: navbar"></div>

<h1 class="h1" th:text="|Excluindo a Filial: ${filialNome}|"></h1>

<form action="#" th:action="@{/web/filiais/deletar/{id}(id = ${filialId})}" method="post">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button class="btn btn-danger" type="submit">Confirmar deleção</button>
        <a class="btn btn-secondary" href="/web/filiais">Cancelar</a>
    </div>
</form>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>
