<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head('Mottu - Atualizar Filial')"></head>
<body class="container">
    
<div th:replace="fragments/fragments :: navbar"></div>

<h1 class="h1" th:text="|Atualizando ${filial.nome}|"></h1>

<form action="#" th:action="@{/web/filiais/atualizar/{id}(id = ${filialId})}" th:object="${filial}" method="post">
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input class="form-control" type="text" th:field="*{nome}" />
    </div>
    <div class="mb-3">
        <label class="form-label">Endereco:</label>
        <input class="form-control" type="text" th:field="*{endereco}" />
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button sec:authorize="hasRole('ADMIN')" class="btn btn-primary" type="submit">Salvar</button>
        <a class="btn btn-secondary" href="/web/filiais">Cancelar</a>
    </div>
</form>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>
